@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  overflow: auto; 
  position: relative; 
  font-family: 'Montserrat', sans-serif; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/bg.png'); 
  background-size: cover;
  background-position: center;
  z-index: -1; 
}